In [40]:
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 1, 3, 5],
    'col2': [2, 1, 9, 8],
})

In [41]:
df

   col1  col2
0     1     2
1     1     1
2     3     9
3     5     8

In [18]:
df.sort_values(by=['col1'])

      col1  col2
3  test_21     8
1  test_22     1
0  test_25     2
2  test_29     9

In [19]:
df.sort_values(by=['col1', 'col2'])

      col1  col2
3  test_21     8
1  test_22     1
0  test_25     2
2  test_29     9

In [21]:
df.sort_values(by='col1', ascending=False)

      col1  col2
2  test_29     9
0  test_25     2
1  test_22     1
3  test_21     8

In [22]:
df.count()

col1    4
col2    4
dtype: int64

In [23]:
df.min()

col1    test_21
col2          1
dtype: object

In [24]:
df.max()

col1    test_29
col2          9
dtype: object

In [28]:
df.var()

col2    16.666667
dtype: float64

In [29]:
df.std()

col2    4.082483
dtype: float64

In [44]:
df.median()

col1    2.0
col2    5.0
dtype: float64

In [49]:
df.quantile(0.75)

col1    3.50
col2    8.25
Name: 0.75, dtype: float64

In [50]:
df.min()

col1    1
col2    1
dtype: int64

In [51]:
df.max()

col1    5
col2    9
dtype: int64

In [52]:
df.std()

col1    1.914854
col2    4.082483
dtype: float64

In [53]:
df.corr()

          col1      col2
col1  1.000000  0.852803
col2  0.852803  1.000000