# [作業目標]


1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

In [1]:
import pandas as pd

# 作業

### 1. [簡答題] 比較下列兩個讀入的 df 有什麼不同？為什麼造成的？

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv')
df1

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In [3]:
df2 = pd.read_csv(
    'https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv',
    keep_default_na=True,
    na_values=['na', '--']
)
df2

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [4]:
# 填補缺空

### 2. 請將 Dcard API 取得所有的看板資訊轉換成 DataFrame，並且依照熱門程度排序後存成一個 csv 的檔案。

In [9]:
import requests
r = requests.get('https://www.dcard.tw/_api/forums')
response = r.text

import json
data = json.loads(response)

In [7]:
df = pd.DataFrame(data)

In [16]:
countLIST = []
for i in range(df.shape[0]):
    count = df['postCount'][i]['last30Days']
    countLIST.append(count)

In [19]:

df['postCount'] = countLIST

In [21]:
df.sort_values(by = 'postCount', ascending=False )

,id,alias,name,description,subscriptionCount,subscribed,read,createdAt,updatedAt,canPost,...,topics,nsfw,mediaThreshold,limitCountries,limitStage,availableLayouts,postCount,favorite,heroImage,logo
370,e33fd5d2-025f-46e4-8b81-3f6fecdd25e1,whysoserious,廢文,人生苦短，why so serious,29070,False,False,2020-02-04T07:52:23.573Z,2020-08-13T06:00:08.683Z,False,...,[],False,{},[],2,"[classic, link]",52002,False,{'url': 'https://megapx-assets.dcard.tw/images...,{'url': 'https://megapx-assets.dcard.tw/images...
228,42851318-b9e2-4a75-8a05-9fe180becefe,relationship,感情,無論是遠距離戀愛、情侶間的有趣互動、分手後的藕斷絲連等...都可以在感情板分享你們的愛情故事...,466809,False,False,2020-02-04T07:28:43.573Z,2020-09-17T02:52:23.291Z,False,...,"[微西斯, 愛情, 閃光, 價值觀, 告白, 分手, 遠距離, 失戀, 曖昧, 做愛, 在一...",False,{},[],0,[classic],9667,False,{'url': 'https://megapx-assets.dcard.tw/images...,{'url': 'https://megapx-assets.dcard.tw/images...
229,75a726e6-d4e3-4902-a410-2430a39fffcb,mood,心情,提供分享生活情緒、抒發心情或交流各種情緒處理的經歷故事。在這裡你可以安心匿名，用無壓力的書寫...,221615,False,False,2020-02-04T07:28:53.573Z,2020-09-15T03:24:46.457Z,False,...,"[國軍, 1985, 女大十八變, 乾妹妹, 租屋糾紛, 畢旅, 感動的事, 一句晚安, 想...",False,{},[],0,[classic],8565,False,{'url': 'https://megapx-assets.dcard.tw/images...,{'url': 'https://megapx-assets.dcard.tw/images...
230,255fd275-fec2-49d2-8e46-2e1557ffaeb0,talk,閒聊,閒聊板提供各種生活周遭大小事的討論，無論是半夜睡不著想找同好，甚至是戴牙套遇到的困擾等......,219803,False,False,2020-02-04T07:29:03.573Z,2020-09-15T03:23:39.301Z,False,...,"[網美媽媽, 廢墟探險, 畢旅, 童年回憶, 泰國浴, 租屋, 牙套, 法律, 困擾, 醫療]",False,{},[],0,"[classic, link]",5510,False,{'url': 'https://megapx-assets.dcard.tw/images...,{'url': 'https://megapx-assets.dcard.tw/images...
373,1ce3ebca-8701-42d5-b14c-076fc629bc8e,sex,西斯,西斯板（Sex）提供男女私密話題分享或性教育等情慾議題討論，若有性方面相關問題也可在此發問。...,538856,False,False,2020-02-04T07:52:53.573Z,2020-07-24T06:30:32.795Z,False,...,"[A片, 甲, 小熊貝爾, Les, 無碼片, NTR, 內射, 自慰, 3P, 外流, 意...",True,"{'RACY': 1, 'ADULT': 1, 'VIOLENCE': 1}",[],0,[classic],4873,False,{'url': 'https://megapx-assets.dcard.tw/images...,{'url': 'https://megapx-assets.dcard.tw/images...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,460a5276-0480-4af1-86df-14b3040cab08,5anniversary,五週年紀念,五週年徵文活動限定板，僅供活動徵文、討論，發文前請先閱讀置頂喔！,5542,False,False,2016-05-18T07:20:35.140Z,2018-04-18T07:16:27.550Z,False,...,[],False,{},[],0,[classic],0,False,NaN,NaN
179,867cea50-59af-431d-b1f5-eae4e5daac93,ncku_secondhand,成功大學二手物交流,你的廢物是我的寶物！快來二手物交流板向同校卡友出清與徵求二手物吧！,188,False,False,2018-07-10T09:16:36.328Z,2020-08-13T08:49:50.438Z,False,...,[],False,{},[],0,"[classic, link]",0,False,NaN,NaN
177,a5811a74-5dd2-4226-9f0b-9ce7826c5d1f,tku_secondhand,淡江大學二手物交流,你的廢物是我的寶物！快來二手物交流板向同校卡友出清與徵求二手物吧！,225,False,False,2018-07-09T03:42:43.499Z,2020-08-13T08:59:57.777Z,False,...,[],False,{},[],0,"[classic, link]",0,False,NaN,NaN
169,2ae7b36e-30df-415f-a8bd-ef345e4b14f0,info,公告,,23,False,False,2017-02-25T06:52:03.772Z,2017-02-25T06:52:03.772Z,False,...,[],False,{},[],0,[classic],0,False,NaN,NaN
175,5376c0b6-172c-46a1-a56a-46fa1caffcbf,ultrasex,進階西斯版,,146,False,False,2018-03-30T06:52:31.953Z,2020-02-27T07:06:11.065Z,False,...,[],True,{},[],0,[classic],0,False,NaN,NaN

In [22]:
df.to_csv(r'Day_014_HW_20210401.csv', index = False)