# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [5]:
import pandas as pd
import numpy as np

In [67]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [12]:
#計算每個不同種類 animal 的 age 的平均數
df.groupby(['animal'])['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [13]:
#計算每個不同種類 animal 的 age 的平均數
df.groupby(['animal'])['age'].mean()

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [22]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(['age'])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [23]:
df.sort_values(['visits'])

  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [ ]:
#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False

In [52]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [58]:
df[(df['priority'] == 'yes')] = True
df[(df['priority'] == 'no')] = False

In [59]:
df

  animal    age visits priority
a   True   True   True     True
b   True   True   True     True
c  False  False  False    False
d   True   True   True     True
e  False  False  False    False
f  False  False  False    False
g  False  False  False    False
h   True   True   True     True
i  False  False  False    False
j  False  False  False    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [86]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.861878  0.133565  0.618194
1  0.333850  0.584889  0.971412
2  0.208955  0.113319  0.154823
3  0.017009  0.989299  0.499685
4  0.937726  0.312437  0.401690

In [79]:
df - df.mean(axis = 0)

df

          0         1         2
0  0.192589  0.262414  0.507667
1  0.793445  0.876060  0.272279
2  0.754005  0.834647  0.893234
3  0.868699  0.796324  0.469059
4  0.208501  0.825493  0.979644

In [80]:
df

          0         1         2
0  0.192589  0.262414  0.507667
1  0.793445  0.876060  0.272279
2  0.754005  0.834647  0.893234
3  0.868699  0.796324  0.469059
4  0.208501  0.825493  0.979644

In [81]:
df - df.mean(axis = 0)

          0         1         2
0 -0.370859 -0.456573 -0.116710
1  0.229998  0.157073 -0.352097
2  0.190557  0.115660  0.268857
3  0.305251  0.077336 -0.155318
4 -0.354947  0.106505  0.355268

In [82]:
#df.apply(lambda x: x-df.mean(axis = 1))

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [87]:
df.sum(axis =1).idxmin()

2

In [88]:
df.sum(axis =0).idxmin()

1